* {
  box-sizing: border-box;
}
html, body {
  font-size: 16px;
  margin: 0;
}
.container {
  background-color: #efefef;
  border-radius: 10px;
  width: 100%;
}
#title, a {
  text-align: center;
  padding: 2%;
  margin: 0;
  font-size: 1.8em;
}
#img-div {
  /*display: flex;
  justify-content: center;*/
}
#image {
  max-width: 60%;
  display: block;
  margin: auto;
}
#img-caption {
  text-align: center;
  margin: auto 100px;
}
#tribute-info ul li{
  margin: auto 100px;
}